.banner {
  margin-bottom: 40px;
  &__inner {
    &__image {
      img {
        border-radius: 50%;
        border: 0.5px solid rgb(17, 233, 204);
      }
    }
  }
  margin-bottom: 80px;
}

.job-container-item {
  border: none;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  header {
    border-bottom: none;
  }
  .job-title {
    color: #ff8b00;
    font-weight: 700;
  }
  .card-body {
    padding-top: 0;
  }
}
